.home {

  .content-section {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   
    @media (max-width: 500px) {
      flex-direction: column;
      justify-content: center;
      align-content: center;
    }
   
    
    .text-content {
      width: 48%;
      padding-right: 1%;
      @media (max-width: 500px) {
        width: 95%;
       margin: 1.5em;
     
      }
    }

    .img-content {
      width: 48%;
      padding-left: 1%;
      @media (max-width: 500px) {
        width: 95%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        margin: 1em;
      
      
     }

      img {
        border-radius: 10px;
        @media (max-width: 500px) {
       
        border-radius: 5px;
        margin: 1em;
       }
  
      }
    }
  }
/*.text-mobile {
  display: none;
  @media (max-width: 500px) {
    display: unset;
    margin: 1.4em;
    border-bottom: 1px dashed @silver;
  }
}*/
.content-section:first-of-type .text-content{
  @media (max-width: 500px) {
    display: none;
    padding: 0;
  }

  .inverse-content {
    padding-bottom: 30px;
    border-bottom: 2px dashed @navigation-border;

    @media (max-width: 500px) {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      margin: 1em;
    }

    .text-content {
      padding-left: 1%;
      padding-right: 0;
      @media (max-width: 500px) {
        width: 95%;
       margin: 1.4em;
       padding-left: 0;
      }
    }

    .img-content {
      padding-right: 1%;
      padding-left: 0;
      @media (max-width: 500px) {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
      }
  }
}

  .content-destination {
    width: 75%;
    margin: 0 auto 30px;
    @media (max-width: 500px){
      width: 75%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    img {
      border-radius: 10px;
    }
  }

  .content-pick {
    padding-top: 30px;
    border-top: 2px dashed @navigation-border;
    display: flex;
    justify-content: space-between;
    
    @media (max-width: 500px){
margin: 1em;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .destination {
      width: 30%;
      margin-bottom: 30px;
      @media (max-width: 500px){
      
        width: 80%;
      }
    }

  }
}// home

//header
header{
  width:100%;
  padding-top: 1em;
  border-bottom: 2px dashed #C0C0C0;
.inner-header {
  .flex-box();
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  p {
   
      font-family: 'Indie Flower', cursive;
      font-size: 4em;
  }

}  
}

.inner-header {
  @media @mobile {
    .flex-box-mobile (flex, center, center, column);
  }
}
/*.btn {
  background-color: teal;
  width: 80%;
  text-align:center;
  padding: 10px;
  border-radius:10px;
  color: #fff;
  font-size: 1.6em;
}*/
.btn {
  .button-style (@eastern-blue, 80%, center, 10px, 10px ,@white, @font-family);
  @media (max-width: 500px)  {
    width: 90%;
    align-self: center;
  }
}
#welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 800px;

  @media (max-width: 500px) {
   width: 90%;

    padding: 1em;
   
  }
  .img-content{
    @media (max-width: 500px) {
width: 90%;
     }
    }